x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  postgres:
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    container_name: postgres_server
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    logging: *default-logging
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  grafana:
    image: grafana/grafana:main-ubuntu
    container_name: grafana_server
    ports:
      - "3001:3000"  # Grafana UI (avoid conflict with Gitea on 3000)
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    logging: *default-logging
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: ${GF_USERS_ALLOW_SIGN_UP}

volumes:
  postgres_data:
    external: true 
  grafana_data:
    external: true