revisionHistoryLimit: 3

persistence:
  enabled: true
  size: 10Gi
  storageClassName: local-path

tempo:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi

  # Enable read-only root filesystem
  securityContext:
    readOnlyRootFilesystem: true

  # Injected directly into the tempo container
  extraEnv:
    - name: rootUser
      valueFrom:
        secretKeyRef:
          name: minio-secret
          key: rootUser
    - name: rootPassword
      valueFrom:
        secretKeyRef:
          name: minio-secret
          key: rootPassword

  extraArgs:
    config.expand-env: "true"

  multitenancy_enabled: false

# Manually specify the config to ensure correct schema for v2.10.0
config: |
  memberlist:
    cluster_label: "tempo.observability"
    node_name: "tempo-0"
    join_members:
      - "localhost"
  multitenancy_enabled: false
  usage_report:
    reporting_enabled: true
  compactor:
    compaction:
      block_retention: 24h
  distributor:
    receivers:
      jaeger:
        protocols:
          grpc:
            endpoint: 0.0.0.0:14250
          thrift_binary:
            endpoint: 0.0.0.0:6832
          thrift_compact:
            endpoint: 0.0.0.0:6831
          thrift_http:
            endpoint: 0.0.0.0:14268
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    ring:
      kvstore:
        store: memberlist
  ingester:
    lifecycler:
      ring:
        kvstore:
          store: memberlist
        replication_factor: 1
  server:
    http_listen_port: 3200
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: minio.observability.svc.cluster.local:9000
        access_key: ${rootUser}
        secret_key: ${rootPassword}
        insecure: true
      wal:
        path: /var/tempo/wal
  metrics_generator:
    registry:
      external_labels:
        source: tempo
        cluster: k3s
    storage:
      path: "/var/tempo/generator/wal"
      remote_write:
        - url: http://prometheus-server.observability.svc.cluster.local/api/v1/write
    ring:
      kvstore:
        store: memberlist
    traces_storage:
      path: /var/tempo/wal
    # RESTORED PROCESSORS
    processor:
      local_blocks:
        filter_server_spans: false
      service_graphs:
        max_items: 10000
      span_metrics:
        dimensions:
          - http.method
          - http.status_code
          - app.traffic_mode
          - app.business.region
  overrides:
    metrics_generator_processors: [service-graphs, span-metrics, local-blocks]
