[Unit]
Description=Collect System Metrics (CPU/Mem/Disk/Net)
After=network.target postgresql.service

[Service]
Type=oneshot
User=server
WorkingDirectory=/home/server/software/observability-hub
EnvironmentFile=/home/server/software/observability-hub/.env
ExecStart=/home/server/software/observability-hub/metrics-collector
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
