[Unit]
Description=Timer for Synthetic Traffic Generation (30 min)

[Timer]
OnCalendar=*:0/30:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
