persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        uid: loki-provisioned
        url: http://loki-gateway.observability:80
        access: proxy
        isDefault: true
      - name: Tempo
        type: tempo
        uid: tempo-provisioned
        url: http://tempo.observability:3200
        access: proxy
        jsonData:
          httpMethod: GET
          tracesToLogsV2:
            datasourceUid: 'loki-provisioned'
            groupFilterRegex: ''
            filterByTraceId: false
            filterBySpanId: false
            noResultPolicy: 'hide'
          tracesToMetrics:
            datasourceUid: 'prometheus-provisioned'
            spanAttributes: [service.name, http.status_code]
          serviceMap:
            datasourceUid: 'prometheus-provisioned'
          search:
            hide: false
          traceql:
            hide: false
          nodeGraph:
            enabled: true
          lokiSearch:
            datasourceUid: 'loki-provisioned'
      - name: Prometheus
        type: prometheus
        uid: prometheus-provisioned
        url: http://prometheus-server.observability:80
        access: proxy
        jsonData:
          httpMethod: POST
          timeInterval: 15s
      - name: PostgreSQL
        type: postgres
        uid: postgresql-provisioned
        url: postgres-postgresql.observability:5432
        database: homelab
        user: server
        jsonData:
          database: homelab
          sslmode: 'disable'
          postgresVersion: 1700
        secureJsonData:
          password: ${POSTGRES_PASSWORD}

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: false
      options:
        path: /var/lib/grafana/dashboards

service:
  type: NodePort
  port: 80
  targetPort: 3000
  nodePort: 30000

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 384Mi

# Security settings and UI tweaks
grafana.ini:
  users:
    allow_sign_up: false
  analytics:
    reporting_enabled: false
  check_for_updates: false

extraVolumes:
  - name: grafana-dashboards
    configMap:
      name: grafana-dashboards

extraVolumeMounts:
  - name: grafana-dashboards
    mountPath: /var/lib/grafana/dashboards

envValueFrom:
  POSTGRES_PASSWORD:
    secretKeyRef:
      name: postgres-secret
      key: server-db-password
