name: Go Lint & Test

on:
  pull_request:
    branches: [main]
    paths:
      - '**/*.go'
      - '**/go.mod'
      - '**/go.sum'
  push:
    branches: [main]
    paths:
      - '**/*.go'
      - '**/go.mod'
      - '**/go.sum'
  
env:
  go-version: '1.25'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6.2.0
        with:
          go-version: ${{ env.go-version }}
          cache-dependency-path: "**/go.sum"

      - name: Check gofmt
        run: make go-format && git diff --exit-code

      - name: Run go vet
        run: make go-lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-go@v6.2.0
        with:
          go-version: ${{ env.go-version }}
          cache-dependency-path: "**/go.sum"

      - name: Run tests
        run: make go-test
